            <header class="head-nav clearfix">
                <h1 class="head-nav__logo">{% block logo %}福利{% endblock %}</h1>
                {% block nav %}
                {% endblock %}
                <div class="head-nav__user-infos">
                    <a class="head-nav__user-infos__item head-nav__user-infos__item__state_highlight" href="#">hbc</a>
                    <a class="head-nav__user-infos__item head-nav__user-infos__item__state_op" href="#">登出</a>
                </div>
            </header>
